.fl {
    float: left;
}

.fr {
    float: right;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?6sfj8i');
    src: url('../fonts/icomoon.eot?6sfj8i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6sfj8i') format('truetype'),
    url('../fonts/icomoon.woff?6sfj8i') format('woff'),
    url('../fonts/icomoon.svg?6sfj8i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.fr .icomoon {
    font-family: 'icomoon', serif;
    font-size: 16px;
    line-height: 25px;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style-red {
    color: #c81623;
}

.spacer {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 12px 0;
}

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut li {
    float: left;
}

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    left: 0;
    top: 25px;
    width: 175px;
    height: 56px;
}

.logo a {
    display: block;
    width: 100%;
    height: 56px;
    background: url("../img/logo.png") no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    top: 25px;
    left: 348px;
}

.text {
    float: left;
    width: 445px;
    height: 32px;
    border: 2px solid #b1191a;
    border-right: none;
    color: #cccccc;
    padding-left: 10px;
}

.btn {
    float: left;
    width: 82px;
    height: 36px;
    background-color: #b1191a;
    border: none;
    font-size: 16px;
    color: #ffffff;
}

.hotwords {
    position: absolute;
    top: 65px;
    left: 348px;
}

.hotwords a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 64px;
    width: 138px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    text-align: center;
}

.car {
    font-family: 'icomoon', serif;
    color: #da5555;
}

.arrow {
    font-family: 'icomoon', serif;
    margin-left: 5px;
}

.count {
    position: absolute;
    top: -5px;
    left: 105px;
    background-color: #e60012;
    color: #ffffff;
    height: 14px;
    line-height: 14px;
    padding: 0 3px;
    border-radius: 7px 7px 7px 0;
}

.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    width: 209px;
    height: 45px;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    background-color: #b1191a;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}

.dropdown .dd {
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}

.menu_item {
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
    padding: 0 10px;
    color: #ffffff;
}

.menu_item:hover {
    color: #c81623;
    background-color: #ffffff;
}

.menu_item:hover a {
    color: #c81623;
}

.menu_item a {
    font-size: 14px;
    color: #ffffff;
}

.menu_item i {
    float: right;
    font-family: 'icomoon', serif;
    font-size: 18px;
    color: #ffffff;
}

.navitems {
    margin-left: 10px;
}

.navitems li {
    float: left;
}

.navitems li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
}

.footer {
    height: 386px;
    padding-top: 30px;
    background-color: #f5f5f5;
}

.mod_service {
    height: 79px;
    border-bottom: 1px solid #cccccc;
}

.mod_service li {
    float: left;
    width: 240px;
    height: 79px;
}

.mod_service_icon {
    float: left;
    width: 50px;
    height: 50px;
    background: url("../img/icons.png") no-repeat;
    margin-left: 35px;
}

.mod_service_zheng {
    background-position: -253px -3px;
}

.mod_service_title {
    float: left;
    margin-left: 5px;
}

.mod_service_title h5 {
    font-size: 14px;
    margin: 5px 0;
}

.mod_service_kuai {
    background-position: -255px -54px;
}

.mod_service_bao {
    background-position: -257px -105px;
}

.mod_help {
    height: 187px;
    border-bottom: 1px solid #cccccc;
}

.mod_service_fu {
    background-position: -259px -157px;
}

.mod_service_bang {
    background-position: -259px -210px;
}

.mod_help_item {
    float: left;
    width: 150px;
    padding: 20px 0 0 50px;
}

.mod_help_item dt {
    height: 25px;
    font-size: 16px;
}

.mod_help_item dd {
    height: 20px;
}

.mod_help_app dt,
.mod_help_app p {
    padding-left: 15px;
}

.mod_help_app img {
    width: 95px;
    height: 95px;
    margin: 7px 0;
}

.mod_copyright {
    text-align: center;
}

.mod_copyright_links {
    margin: 20px 0 15px 0;
}

.mod_copyright_info {
    line-height: 18px;
}