<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vertical</title>
    <style>
        .outer{
            background-color: #bbffaa;
        }

        .inner{
            width: 200px;
            height: 400px;
            background-color: greenyellow;
            margin-bottom: 100px;
        }

        .box1{
            width: 200px;
            height: 200px;
            background-color: aqua;
            overflow: auto;
        }

        .box2{
            width: 50%;
            height: 200%;
            background-color: red;
        }
    </style>
</head>
<body>
<div class="outer">
    <div class="inner"></div>
    <div class="inner"></div>
</div>
<div class="box1">
    <div class="box2"></div>
</div>
</body>
</html>